<!DOCTYPE html>
<html>
    <head>
        <title>Express node JS Form</title>
    </head>
    <body>
        <form method="POST" action="/user/add">
            <input type="text" name="name" value="" placeholder="Enter your Name"/>
            <input type="text" name="email" value="" placeholder="Enter your Email"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>