<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <div class="main-form">
            <form method='post' action="/users/add">
                <label>Name:</label>
                <input name="name" value="" placeholder="enter name" autocomplete="off"><br>
                <label>Email:</label>
                <input name="email" value="" placeholder="enter email" autocomplete="off"><br>
                <button type="submit">add user</button>
            </form>
        </div>

        

    </body>
</html>

